body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-image: url('img/download.png');
    color: #fff;
    text-align: center;
    padding: 150px 20px;
    /* Adjusted padding for header */
    margin: 0;
    height: 100vh;
    /* Set the height to 100vh */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-content {
    max-width: 800px;
    margin: 0 auto;
}

#typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    font-family: 'Courier New', monospace;
    font-size: 54px;
    border-right: .1em solid #fff;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    font-weight: bold;
    /* Emphasize the text */
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

.navbar-content {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-content a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-content a:hover {
    color: #3498db;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.image-container img {
    max-width: 30%;
    /* Adjust as needed */
}

.image-container img:hover {
    transform: scale(1.1);
    /* Increase the size by 10% */
    transition: transform 0.5s ease;
    /* Add a smooth transition effect */
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    font-size: 32px;

}

section p {
    line-height: 1.6;
    font-size: 20px;
}

#home {
    background-color: #fff;
    color: #333;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

#home h2 {
    color: #333;
}

#objective {
    background-color: #fff;
}

#need-for-change {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

footer {
    background-image: linear-gradient(to right, #333, #555);
    color: #fff;
    text-align: center;
    padding: 40px;
}

.footer-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: hotpink;
}

.footer-subheading {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: hotpink;
}

.footer-links a i {
    margin-right: 5px;
    font-size: 1.2rem;
}